<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlyingBird2D"
        tools:targetApi="31">

        <!-- MainActivity which launches when the app starts -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GameActivity for handling the game's main logic -->
        <activity
            android:name=".GameActivity"
            android:exported="true">
        </activity>

        <!-- GameView Activity to display the game interface -->
        <activity
            android:name=".GameView"
            android:exported="true">
        </activity>

        <!-- Bird class activity -->
        <activity
            android:name=".Bird"
            android:exported="true">
        </activity>

        <!-- Background class activity -->
        <activity
            android:name=".Background"
            android:exported="true">
        </activity>

        <!-- Bullet class activity -->
        <activity
            android:name=".Bullet"
            android:exported="true">
        </activity>

        <!-- Flight class activity -->
        <activity
            android:name=".Flight"
            android:exported="true">
        </activity>

    </application>

</manifest>
